<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-title>
      Mobile Stores
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-badge *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
        <!-- async will process in background-->
        <div class="cart-length">{{ cartItemCount | async }}</div>  
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> 
    <div *ngFor="let cat of items" class="category-block">
      <ion-row no-padding class="category-banner">
        <ion-col text-left button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
          {{ cat.category }}
        </ion-col>
      </ion-row>  
      <ion-slides [options]="sliderConfig">
        <ion-slide *ngFor="let p of cat.product">
          <div *ngIf="cat.expanded">
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  {{ p.name }} - Rs.{{ p.price }}
                </ion-card-title>
                <ion-card-content>
                  <ion-img [src]="p.imageUrl"></ion-img>
                  <ion-button expand="full">For More Info</ion-button>
                  <ion-button expand="full" (click)="addToCart(p)">Add to Cart</ion-button>
                </ion-card-content>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
</ion-content>

